<article class="card">
  <a class="imageLink" [href]="product().link" target="_blank" rel="noopener noreferrer">
    <img class="mainImage" [src]="selectedImage()" [alt]="product().name" (error)="onImgError($event)" />

  </a>

  <div class="thumbs" *ngIf="product().images.length">
    <button
      class="thumb"
      type="button"
      *ngFor="let img of product().images"
      (click)="selectImage(img)"
      [class.active]="img === selectedImage()"
    >
      <img [src]="img" [alt]="product().name" (error)="onImgError($event)" />
    </button>
  </div>

  <div class="content">
    <h3 class="title">
      <a [href]="product().link" target="_blank" rel="noopener noreferrer">{{ product().name }}</a>
    </h3>

    <p class="desc">{{ product().description }}</p>

    <div class="meta">
      <div class="price">{{ product().price | number }} ₸</div>
      <div class="rating">
        <span class="badge">⭐ {{ product().rating }}</span>
        <span class="likes">❤ {{ product().likes }}</span>
      </div>
    </div>

    <div class="actions">
      <button class="btn" type="button" (click)="like()">Like</button>
      <button class="btn danger" type="button" (click)="requestDelete()">Delete</button>

      <a class="btn ghost" [href]="whatsappShareUrl" target="_blank" rel="noopener noreferrer">WhatsApp</a>
      <a class="btn ghost" [href]="telegramShareUrl" target="_blank" rel="noopener noreferrer">Telegram</a>

      <a class="btn link" [href]="product().link" target="_blank" rel="noopener noreferrer">Kaspi</a>
    </div>
  </div>
</article>